.contacts {
  padding-top: clamp(1.875rem, 0.284rem + 7.95vw, 6.25rem);
  padding-bottom: clamp(1.875rem, 0.284rem + 7.95vw, 6.25rem);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(1,153,109,0.6755952380952381) 0%),  url(../img/contact-image-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.title-contact {
  color: #fff;
  text-align: center;
  margin-bottom: clamp(1.25rem, 0.682rem + 2.84vw, 2.813rem);
}

// form .form-row{
//   display: flex;
//   margin: 32px 0;
//   gap: 20px;
// }
// form .form-row .input-data{
//   width: 100%;
//   height: 40px;
//   // margin: 0 20px;
//   position: relative;
// }
// form .form-row .textarea{
//   height: 70px;
// }
// .input-data input,
// .textarea textarea{
//   display: block;
//   width: 100%;
//   height: 100%;
//   border: none;
//   font-size: 17px;
//   border-bottom: 2px solid #f0f0f0;
// }
// .input-data input:focus ~ label, .textarea textarea:focus ~ label,
// .input-data input:valid ~ label, .textarea textarea:valid ~ label{
//   transform: translateY(-20px);
//   font-size: 14px;
//   color: #fff;
// }
// .textarea textarea{
//   resize: none;
//   padding-top: 10px;
// }
// .input-data label{
//   position: absolute;
//   pointer-events: none;
//   bottom: 10px;
//   font-size: 16px;
//   transition: all 0.3s ease;
// }
// .textarea label{
//   width: 100%;
//   bottom: 40px;
//   background: #01996D;
// }
// .input-data .underline{
//   position: absolute;
//   bottom: 0;
//   height: 2px;
//   width: 100%;
// }
// .input-data .underline:before{
//   position: absolute;
//   content: "";
//   height: 2px;
//   width: 100%;
//   background: #fff;
//   transform: scaleX(0);
//   transform-origin: center;
//   transition: transform 0.3s ease;
// }
// .input-data input:focus ~ .underline:before,
// .input-data input:valid ~ .underline:before,
// .textarea textarea:focus ~ .underline:before,
// .textarea textarea:valid ~ .underline:before{
//   transform: scale(1);
// }
// .submit-btn .input-data{
//   overflow: hidden;
//   height: 45px!important;
//   width: 25%!important;
// }
// .submit-btn .input-data .inner{
//   height: 100%;
//   width: 300%;
//   position: absolute;
//   left: -100%;
//   background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
//   transition: all 0.4s;
// }
// .submit-btn .input-data:hover .inner{
//   left: 0;
// }
// .submit-btn .input-data button{
//   // background: none;
//   // border: none;
//   // color: #fff;
//   font-size: 17px;
//   font-weight: 500;
//   text-transform: uppercase;
//   letter-spacing: 1px;
//   cursor: pointer;
//   position: relative;
//   z-index: 2;
// }
// @media (max-width: $mobile) {
//   .text{
//     font-size: 30px;
//   }
//   form{
//     padding: 10px 0 0 0;
//   }
//   form .form-row{
//     display: block;
//   }
//   form .form-row .input-data{
//     margin: 35px 0!important;
//   }
//   .submit-btn .input-data{
//     width: 100%!important;
//   }
// }

// input, textarea {
//   background: none;
//   outline: none;

//   &::placeholder {
//     color: #f0f0f0;
//   }
// }

// label {
//   color: #f0f0f0;
// }

// .button-submit {
//   padding: 10px 25px;
//   border: 1px solid #fff;
//   border-radius: 5px;
//   color: #fff;
//   transition: all ease-in-out .2s;

//   @media (max-width: $mobile) {
//     width: 100%;
//   }

//   &:hover {
//     color: #01996D;
//     background-color: #fff;
//   }
// }